.bg-custom-glass {
  background: rgba(255, 255, 255, 0.59);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
}

.bg-service-section {
  background-image: url('/pattern/layered-waves.svg');
  background-size: 100% auto;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.bg-about-section {
  background: rgba(5, 25, 35, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.dots::after {
  content: '';
  animation: dots 1.5s steps(3, end) infinite;
}

.loader {
  --size: 2; /* Scale multiplier */
  width: calc(60px * var(--size));
  height: calc(16px * var(--size));
  display: flex;
  justify-content: space-between;
  animation: l3-0 2s infinite alternate;
}

.loader::before,
.loader::after {
  content: "";
  width: calc(16px * var(--size));
  background: #00a2fa;
  animation: l3-1 1s infinite alternate;
}

.loader::after {
  background: #003757;
  --s: -1;
}

/* Adjusted keyframes */
@keyframes l3-0 {
  0%, 40% {
    transform: rotate(0);
  }
  80%, 100% {
    transform: rotate(0.5turn);
  }
}

@keyframes l3-1 {
  80%, 100% {
    transform: translate(calc(var(--s, 1) * 14px * var(--size)));
  }
}


@keyframes dots {
  0% { content: ''; }
  33% { content: '.'; }
  66% { content: '..'; }
  100% { content: '...'; }
}